{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% blocktrans %}Portfolio Projects{% endblocktrans %}{% endblock %}
{% block bodyclass %}menu-snippets{% endblock %}
{% block content %}

    <header class="nice-padding">
        <div class="row row-flush">
            <div class="left col9">
                <h1 class="icon icon-image">{% blocktrans %}Portfolio Projects{% endblocktrans %}</h1>
            </div>
            <div class="right col3">{% url 'portfolio_choose_category' as project_create_url %}
                <a href="{{ project_create_url }}" class="button bicolor icon icon-plus">{% blocktrans %}Add {{ snippet_type_name }}{% endblocktrans %}</a>
                {# TODO: figure out a way of saying "Add a/an [foo]" #}
            </div>
        </div>
    </header>
    <div class="nice-padding">
        {% if items %}
            {% include "wagtailsnippets/snippets/list.html" %}
        {% else %}
            
            <p class="no-results-message">{% blocktrans %}No {{ snippet_type_name_plural }} have been created. Why not <a href="{{ project_create_url }}">add one</a>?{% endblocktrans %}</p>
        {% endif %}
    </div>
{% endblock %}